<div id="page-title">

	<div id="page-title-inner">

		<!-- start: Container -->
		<div class="container">

			<h2>About Us</h2>

		</div>
		<!-- end: Container  -->

	</div>	

</div>
<!-- end: Page Title -->

<!--start: Wrapper-->
<div id="wrapper">
			
	<!--start: Container -->
	<div class="container">

		<!--start: Row -->
    	<div class="row">
	
			<div class="span8">
				
				<!-- start: About Us -->
				<div id="about">
					<div class="title"><h3>About Us</h3></div>
					<p>
						<span class="dropcap">R</span>eload Transportation Services, LLC has assembled a young, aggressive, dynamic, team of dedicated individuals. Our industry leading team is comprised of individuals with proven experience in the areas of intermodal marketing, drayage, cartage, container yard management, warehousing, and highway services.  This vast experience allows us to be responsive and provide creative business solutions for all aspects of the transportation industry.
					</p>
					<p>
						We provide dependable logistic services throughout the Midwest with a comprehensive blend of experiences that include the areas of intermodal marketing, drayage, cartage, container yard management, highway services, warehousing and more.  We will be responsive and provide solutions through innovative thinking that covers all aspects of the intermodal transportation industry.    
					</p>
					<p>
					
					Ask yourself these important questions:<br>
						
							<ul class="arrow_list"><li>How much time do you spend tracking a shipment? </li></ul>
							<ul class="arrow_list"><li>How many phone calls do you make? </li></ul>
							<ul class="arrow_list"><li>How many faxes do you send? </li></ul>
							<ul class="arrow_list"><li>How many people do you talk to? </li></ul>
							<ul class="arrow_list"><li>How much time do you spend waiting on answers?</li></ul>
					</p>

					<p>
						You don't need to worry about how to get your shipment from point A to point B. Just make one call to us. We'll take care of everything. We'll jump the hurdles. We'll get around the obstacles. We quickly adapt to dramatic change and complexity.  We will match our services to YOUR requirements. You benefit from our experience, skills and technology in every service we offer:
					</p>
					<p>
						We look forward to earning your trust and forming a respectful working relationship with your company.  Our staff is ready to exceed your expectations so contact us today with your specific needs!
					</p>
					<p>
						Thank you and have a SAFE day!
					</p>
					Sincerely,
					<p>
						Vincent Aguirre<br>
						President and CEO 
						Reload Transportation Services LLC
					</p>
					</p>
					
				</div>	
				<!-- end: About Us -->

				<!-- start: History -->
				<div id="history">
					<div class="title"><h3>History</h3></div>
					<p>
						<span class="dropcap">P</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
					</p>
					<p>
						<span class="dropcap color">P</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
					</p>
					<p>
						<span class="dropcap dark">P</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
					</p>
				</div>	
				<!-- end: History -->

	
				
			</div>	
			
			<div class="span4">
				
				<!-- start: Sidebar -->
				<div id="sidebar">

					

					<!-- start: Testimonials-->

					<div class="testimonial-container">

						<div class="title"><h3>Testimonials</h3></div>

							<div class="testimonials-carousel" data-autorotate="3000">

								<ul class="carousel">

									<li class="testimonial">
										<div class="testimonials">Reload Transportation has been very professional in my time working with them. They work swiftly and efficiently in order to assist me in developing their site. I have worked with many other companies in order to develop a product and Reload Transportation has been the most pleasant experience.</div>
										<div class="testimonials-bg"></div>
										<div class="testimonials-author"><a href="http://www.10secondlabs.com">Vincent M Aguirre, <span>CEO of 10 Second Labs, INC</span></a></div>
									</li>

									<li class="testimonial">
										<div class="testimonials">Testamonial 2</div>
										<div class="testimonials-bg"></div>
										<div class="testimonials-author">Lucas Luck, <span>CTO</span></div>
									</li>
									
									<li class="testimonial">
										<div class="testimonials">Testimonial 3</div>
										<div class="testimonials-bg"></div>
										<div class="testimonials-author">Lucas Luck, <span>COO</span></div>
									</li>

									<li class="testimonial">
										<div class="testimonials"> Testimonial 3<div>
										<div class="testimonials-bg"></div>
										<div class="testimonials-author">Lucas Luck, <span>CMO</span></div>
									</li>
									

								</ul>

							</div>

						</div>

					<!-- end: Testimonials-->

				</div>
				<!-- end: Sidebar -->
				
			</div>
			
		</div>
		<!--end: Row-->

	</div>
	<!--end: Container-->
			
	<!--start: Container -->
	<div class="container">	
  		
		<hr>
	
		<!-- start Clients List -->	
		<div class="clients-carousel">
	
			<ul class="slides clients">
				<li><%=image_tag("logos/1.png", alt: "l1") %></li>
				<li><%=image_tag("logos/2.png", alt: "l2") %></li>	
				<li><%=image_tag("logos/3.png", alt: "l3") %></li>
				<li><%=image_tag("logos/4.png", alt: "l4") %></li>
				<li><%=image_tag("logos/5.png", alt: "l5") %></li>
				<li><%=image_tag("logos/6.png", alt: "l6") %></li>
				<li><%=image_tag("logos/7.png", alt: "l7") %></li>
				<li><%=image_tag("logos/8.png", alt: "l8") %></li>
				<li><%=image_tag("logos/9.png", alt: "l9") %></li>
				<li><%=image_tag("logos/10.png", alt: "l10") %></li>		
			</ul>
	
		</div>
		<!-- end Clients List -->
	
		<hr>
	
	</div>
	<!--end: Container-->	

</div>
<!-- end: Wrapper  -->			
