		
<!--start: Wrapper-->
<div id="wrapper">
			
	<!--start: Container -->
	<div class="container">

		<hr>
		
		<!-- start: Portfolio -->
			<div id="portfolio-wrapper" class="row">

				
				<div class="span4 portfolio-item">
					<div class="picture"><a title="Title"><%=image_tag("reload/cowan.jpg", alt: "cowan") %><div class="image-overlay-link"></div></a>
						<div class="item-description alt">
							<h5><a href="project.html"></a></h5>
							<p>
							</p>
						</div>
					</div>
				</div>
				<div class="span4 portfolio-item">
					<div class="picture"><a title="Title"><%=image_tag("reload/team2.jpg", alt: "team") %><div class="image-overlay-link"></div></a>
						<div class="item-description alt">
							<h5><a href="project.html"></a></h5>
							<p>
								Some of the team at the owners meeting.
							</p>
						</div>
					</div>
				</div>
				
				<div class="span4 portfolio-item">
					<div class="picture"><a  title="Title"><%=image_tag("reload/reload.png", alt: "logo") %><div class="image-overlay-link"></div></a>
						<div class="item-description alt">
							<h5><a href="project.html"></a></h5>
							<p>
							</p>
						</div>
					</div>
				</div>
				<div class="span4 portfolio-item">
					<div class="quotes">
						<div class="quote">
						“Drive safe and have a nice day!”
						</div>
						<div class="author">
							- Vincent G. Aguirre, CEO -
						</div>	
					</div>
				</div>
				<div class="span4 portfolio-item">
					<div class="picture"><a  title="Title"><%=image_tag("reload/containers.png", alt: "containers") %><div class="image-overlay-link"></div></a>
						<div class="item-description alt">
							<h5><a href="project.html"></a></h5>
							<p>
							</p>
						</div>
					</div>
				</div>
				
				<div class="span4 portfolio-item">
					<div class="picture"><a  title="Title"><%=image_tag("reload/train.jpg", alt: "train") %><div class="image-overlay-link"></div></a>
						<div class="item-description alt">
							<h5><a href="project.html"></a></h5>
							<p>
							</p>
						</div>
					</div>
				</div>
				<div class="span4 portfolio-item">
					<div class="picture"><a  title="Title"><%=image_tag("reload/pin.jpg", alt: "pin") %><div class="image-overlay-link"></div></a>
						<div class="item-description alt">
						</div>
					</div>
				</div>
				<div class="span4 portfolio-item">
					<div class="quotes">
						<div class="quote">
						“How big do you dream, how hard do you work?”
						</div>
						<div class="author">
							- Vincent G. Aguirre, CEO -
						</div>	
					</div>
				</div>
				<div class="span4 portfolio-item">
					<div class="picture"><a  title="Title"><%=image_tag("reload/truck.jpg", alt: "truck") %><div class="image-overlay-link"></div></a>
						<div class="item-description alt">
							<h5><a href="project.html"></a></h5>
							<p>
								
							</p>
						</div>
					</div>
				</div>
				<div class="span4 portfolio-item">
					<div class="picture"><a  title="Title"><%=image_tag("reload/intruck.jpg", alt: "Inside of Truck") %><div class="image-overlay-link"></div></a>
						<div class="item-description alt">
							<h5><a href="project.html"></a></h5>
							<p>
								
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- end: Portfolio -->
		
	</div>
	<!--end: Container-->

</div>
<!-- end: Wrapper  -->