<p id="notice"><%= notice %></p>

<p>
  <b>Unique:</b>
  <%= @trailer.unique_id %>
</p>

<p>
  <b>Driver:</b>
  <%= @trailer.driver_id %>
</p>

<p>
  <b>Truck:</b>
  <%= @trailer.truck_id %>
</p>

<p>
  <b>Lot location:</b>
  <%= @trailer.lot_location %>
</p>


<%= link_to 'Edit', edit_trailer_path(@trailer) %> |
<%= link_to 'Back', trailers_path %>
